<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-UIgestureRecorn练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCCAE3BB1CCF476B007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCAE3D41CCF476C007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCAE3DF1CCF476C007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
