<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-手势识别器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCCAE37C1CCF16D4007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCAE3951CCF16D4007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCCAE3A01CCF16D4007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
